<div class="stock_wrapper">
    <div class="box_login">
        <img src="../../assets/icon_nelore.png" alt="icon_cattle">
        <h2>Cattle Stock!</h2>
        <p>Controle e movimento de gado</p>

        <div class="group_1">
                <div>
                    <input type="email" id="placeholder" placeholder="E-mail">
                </div>
                <div>
                    <input type="password" id="placeholder" placeholder="Senha">
                </div>

            <div class="box_remember">
                <div class="box">
                    
                </div>
                <div class="remember">
                    Lembrar-me
                </div>
            </div>

            <div class="forget_password">
                Esqueci minha senha
            </div>

            <div class="button_login">
                <button>
                    Login
                </button>
            </div>
        </div>

        <div class="group_2">
            <div class="signin">
                <button>
                    <img src="../../assets/google.png" alt="icon_google">
                    Sign in with Google
                </button>
            </div>
        </div>
    </div>
</div>