<div class="title">
    <p>Controle e movimento de gado</p>
</div>

<div class="logo__box">
    <p>Início</p>
    <p>Olá, Fábio</p>
</div>

<div class="cadastro__box">
    <div class="cadastro__box-title">
        <p>Cadastro de gado</p>
    </div>
    <ul class="cadastro__box-lista">
        <div class="cadastro__box-menu">
            <li>Entrada</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Saída</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Estoque</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Arrendamento</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Confinamento</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Nascimento</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Perda</li>
        </div>
        <div class="cadastro__box-menu">
            <li>Relatório</li>
        </div>
    </ul>
</div>
<div class="footer">
    <footer>
        <p>Desenvolvido por Fábio Crippa</p>
        <p>crippa.fabiocrippa@gmail.com</p>
        <p>@Copyright 2023</p>
    </footer>
</div>